@{
    ViewBag.Title = "Redakcja zaczytanych";
    ViewBag.Description = "Poznaj redakcję zaczytanych. Dowiedz się, kto tworzy zaczytanych.";
    ViewBag.Keywords = "Blog książki polecane kryminały biografie";
}
<div class="container">
    <div class="special-body">
        <span class="path"><a href="https://zaczytani.com.pl" class="path-url">Zaczytani</a> >> Redakcja</span>
        <h1>@ViewBag.Title</h1>
        <p>Jestem pasjonatą książek i piszę o nich, aby wybrani autorzy mogli trafić w Twoje ręce.</p>
        <div class="author">
            <h2>Bartłomiej Głowacki</h2>
            <div class="author-info">
                <img src="~/content/static/miniaturka-bartlomiej-glowacki.jpg" alt="Redaktor Bartłomiej Głowacki" height="150" class="author-mini" />
                <p class="author-opis">
                    Można mówić, że urodziłem się w samą porę, aby zdążyć przed wielkim technologicznym boom. Dzięki temu od małego ponad komputerowymi przyjemnościami stawiam dobrą książkę.
                    Obecnie częściej niż papier wybieram wersje elektroniczne, ale w ten sposób ulubione lektury mogę mieć zawsze pod ręką.
                    W wolnym czasie śledzę ciekawostki technologiczne, czytam, jeżdżę na rowerze, robię zdjęcia i podróżuję.
                </p>
            </div>
        </div>
        Witam w moim świecie — zaczytanych!
        <br /> <br />
        Jeśli chcesz skontaktować się ze mną, <a href="https://zaczytani.com.pl/Home/Kontakt">odwiedź tę stronę</a>.
    </div>
</div>

<script type="application/ld+json">
    {
    "@@context": "https://schema.org/",
    "@@type": "Person",
    "name": "Bartlomiej Glowacki",
    "url": "https://zaczytani.com.pl/Home/Redakcja",
    "image": "https://zaczytani.com.pl/content/static/miniaturka-bartlomiej-glowacki.jpg",
    "sameAs": "https://www.instagram.com/accounts/login/?next=/bartlomiej_glowacki",
    "jobTitle": "Redaktor",
    "worksFor": {
    "@@type": "Organization",
    "name": "Zaczytani"
    }
    }

    {
    "@@context": "https://schema.org/",
    "@@type": "BreadcrumbList",
    "itemListElement": [{
    "@@type": "ListItem",
    "position": 1,
    "name": "Strona główna zaczytani.com.pl",
    "item": "https://zaczytani.com.pl/"
    },{
    "@@type": "ListItem",
    "position": 2,
    "name": "@ViewBag.Title",
    "item": "https://zaczytani.com.pl/Home/Redakcja"
    }]
    }
</script>

